html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
.wrapper{
    margin-bottom: 50px;
    z-index: 5;
}
.buttonClass{
    color: white;
}
.buttonClass:hover{
    text-decoration: none;
    color: white;
}
